framework: netstandard2.0, net471, netcoreapp3.1
source https://api.nuget.org/v3/index.json
storage: none

nuget FSharp.Core                           >= 4.7.0 lowest_matching: true

nuget Aardvark.Base                         ~> 5.1.11
nuget Aardvark.Base.Incremental             ~> 5.1.11
nuget Aardvark.Base.FSharp                  ~> 5.1.11
nuget Aardvark.Base.Essentials              ~> 5.1.11

nuget Adaptify.Core                         ~> 1.0.8
nuget Adaptify.MSBuild                      ~> 1.0.8

nuget FSharp.Data.Adaptive                  ~> 1.2.6

nuget Aardvark.SceneGraph                   ~> 5.1.12
nuget Aardvark.Application.OpenVR           ~> 5.1.12
nuget Aardvark.Application.OpenVR.Vulkan    ~> 5.1.12
nuget Aardvark.Application.Slim.Vulkan      ~> 5.1.12
nuget Aardvark.Rendering.Text               ~> 5.1.12
nuget Aardvark.Application.Utilities        ~> 5.1.12

nuget Aardvark.UI                           ~> 5.1.5
nuget Aardvark.UI.Primitives                ~> 5.1.5
nuget Aardvark.Cef                          ~> 5.1.5
nuget Aardvark.Cef.WinForms                 ~> 5.1.5

nuget Aardium                               ~> 2.0.8

nuget Unofficial.OpenVR                     ~> 1.1.0

nuget Another.Unofficial.Xilium.CefGlue.UnpackNativeDependencies

group Build
framework: netstandard2.0
source https://api.nuget.org/v3/index.json
github aardvark-platform/aardvark.fake:v511